body{
  background-color: #ecf0f1;
}

.backdiv{
  /*background-color:red;*/
  width:50%;
  float:left;
  height:100%;
}

#topleftquad{
  height:50%;
  /*background-color:blue;*/
  position:relative;
}

#projectsdiv{
  height:50%;
  background-color: #8e44ad;
  position: absolute;
  bottom: 10;
  width:80%%;
  right:10px;
  -webkit-animation: trans 6s;
  animation: trans 6s;
}

#bottomsleftquad{
  position:relative;
  height:50%;
}

.resume{
  height:50%;
  background-color:#2980b9;
  position: absolute;
  bottom: 0;
  right:10px;
  -webkit-animation: trans 4s;
  animation: trans 4s;
}

.top-to-bottom{
  top:0%;
}

.resume:hover.top-to-bottom{
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  /*background-size: 100% auto;*/
  /*background-image:url("./gabriel.png");*/
  bottom:10px;
  top:0%;
  height:100%;
  position:absolute;
  /*-webkit-animation: trans .5s;
  animation: trans .5s;*/
}

#toprightquad{
  height:40%;
  position:relative;
}
.about_me{
  background-color:crimson;
  bottom:10px;
  position:absolute;
  opacity: 0.8;
  filter: alpha(opacity=80);
  width:33%;
  height:100%
  -webkit-animation: trans 2s;
  animation: trans 2s;
  background-size: 100% auto;
}

.bottom-to-top{
  top:50%;
}

.about_me:hover.bottom-to-top{
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  background-size: 100% auto;
  background-image:url("./gabriel.png");
  bottom:10px;
  top:25%;
  position:absolute;
  /*-webkit-animation: trans .5s;
  animation: trans .5s;*/
}

#bottomrightquad{
  height:50%;
  position:relative;
}

.contact_me{
  background-color:#27ae60;
  width:80%;
  height:50%;
  position:absolute;
  -webkit-animation: trans 8s;
  animation: trans 8s;
  filter: alpha(opacity=80);
}

.left-to-right{
  top:0%;
}

.contact_me:hover.left-to-right{
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  background-size: 100% auto;
  /*background-image:url("./gabriel.png");*/
  top:0%;
  height:100%;
  position:absolute;
  /*-webkit-animation: trans .5s;
  animation: trans .5s;*/
}


h1{
  font-family: Raleway;
  font-size:60px;
  font-weight:strong;
  margin-top:-10px;
  margin-left:-5px;
  color:#ecf0f1;
}

#contact_corner{
  margin-top:25%;
}


nav{
  background-color:red;
}
/*Animation*/
@-webkit-keyframes trans {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes trans {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navdiv{
  background-color:red;
  width:50%;
  float:left;
  height:10%;
}
